
section {
    height: 100vh;
}

@media only screen and (min-device-width: 900px) {
    section {
        height: 100vh;
        padding-top: 4rem;
        & > .content {
            margin-top: 4rem !important;
            margin-left: 4rem;
            padding: 0 12rem;
        }
    }

}

@media only screen and (min-device-width: 310px) {
    section {
        height: 100vh;
        padding-top: 8rem;
        & > .content {
            margin-top: 4rem !important;
        }
    }

}
